<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppAnimalStateMapper">
    
    <resultMap type="AppAnimalState" id="AppAnimalStateResult">
        <result property="id"    column="aasid"    />
        <result property="aid"    column="aid"    />
        <result property="uid"    column="uid"    />
        <result property="bid"    column="bid"    />
        <result property="hid"    column="hid"    />
        <result property="s1"    column="aass1"    />
        <association property="usysUser" resultMap="SysUserResult" columnPrefix="u_"/>
        <association property="bsysUser" resultMap="SysUserResult" columnPrefix="b_"/>
        <association property="hsysUser" resultMap="SysUserResult" columnPrefix="h_"/>
    </resultMap>

    <resultMap type="AppAnimalState" id="AppAnimalStateResult2" extends="AppAnimalStateResult">
        <association property="appAnimal" resultMap="com.ruoyi.app.mapper.AppAnimalMapper.AppAnimalResult"/>
    </resultMap>

    <resultMap type="SysUserE" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="nickName"     column="nick_name"    />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="remark"       column="remark"       />
    </resultMap>

    <sql id="selectAppAnimalStateVo">
        select aa.id, sid, name, aa.sex, icon, create_date, year, aa.s1, s2,
            aasd.id aasdid, aasd.title aasdtitle, aasd.s1 aasds1,
            aas.id aasid, aid, uid, bid, hid, aas.s1 aass1,
            usu.user_id u_user_id,  usu.nick_name u_nick_name,  usu.sex u_sex, usu.avatar u_avatar,usu.remark u_remark,
            bsu.user_id b_user_id,  bsu.nick_name b_nick_name,  bsu.sex b_sex, bsu.avatar b_avatar,bsu.remark b_remark,
            hsu.user_id h_user_id,  hsu.nick_name h_nick_name,  hsu.sex h_sex, hsu.avatar h_avatar,hsu.remark h_remark
        from app_animal_state aas
            left join sys_user usu on aas.uid = usu.user_id
            left join sys_user bsu on aas.bid = bsu.user_id
            left join sys_user hsu on aas.hid = hsu.user_id
            left join app_animal aa on aa.id = aid
            left join app_animal_state_data aasd on aa.sid = aasd.id
    </sql>

    <select id="selectAppAnimalStateList" parameterType="AppAnimalState" resultMap="AppAnimalStateResult2">
        <include refid="selectAppAnimalStateVo"/>
        <where>  
            <if test="aid != null "> and aid = #{aid}</if>
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="bid != null "> and bid = #{bid}</if>
            <if test="hid != null "> and hid = #{hid}</if>
            <if test="s1 != null  and s1 != ''"> and aas.s1 = #{s1}</if>
        </where>
    </select>
    
    <select id="selectAppAnimalStateById" parameterType="Long" resultMap="AppAnimalStateResult2">
        <include refid="selectAppAnimalStateVo"/>
        where aas.id = #{id}
    </select>
        
    <insert id="insertAppAnimalState" parameterType="AppAnimalState">
        insert into app_animal_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="aid != null">aid,</if>
            <if test="uid != null">uid,</if>
            <if test="bid != null">bid,</if>
            <if test="hid != null">hid,</if>
            <if test="s1 != null">s1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="aid != null">#{aid},</if>
            <if test="uid != null">#{uid},</if>
            <if test="bid != null">#{bid},</if>
            <if test="hid != null">#{hid},</if>
            <if test="s1 != null">#{s1},</if>
         </trim>
    </insert>

    <update id="updateAppAnimalState" parameterType="AppAnimalState">
        update app_animal_state
        <trim prefix="SET" suffixOverrides=",">
            <if test="aid != null">aid = #{aid},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="bid != null">bid = #{bid},</if>
            <if test="hid != null">hid = #{hid},</if>
            <if test="s1 != null">s1 = #{s1},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppAnimalStateById" parameterType="Long">
        delete from app_animal_state where id = #{id}
    </delete>

    <delete id="deleteAppAnimalStateByIds" parameterType="String">
        delete from app_animal_state where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>