<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppAnimalMapper">
    
    <resultMap type="AppAnimal" id="AppAnimalResult">
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="icon"    column="icon"    />
        <result property="createDate"    column="create_date"    />
        <result property="year"    column="year"    />
        <result property="s1"    column="s1"    />
        <result property="s2"    column="s2"    />
        <association property="appAnimalStateData" resultMap="com.ruoyi.app.mapper.AppAnimalStateDataMapper.AppAnimalStateDataResult"/>
    </resultMap>

    <resultMap type="AppAnimal" id="AppAnimalResult2" extends="AppAnimalResult">
        <association property="appAnimalState" resultMap="com.ruoyi.app.mapper.AppAnimalStateMapper.AppAnimalStateResult"/>
    </resultMap>



    <sql id="selectAppAnimalVo">
        select aa.id, sid, name, sex, icon, create_date, year, aa.s1, s2,
            aasd.id aasdid, aasd.title aasdtitle, aasd.s1 aasds1
        from app_animal aa
        left join app_animal_state_data aasd on aasd.id = sid
    </sql>

    <sql id="selectAppAnimalVoBy">
        select aa.id, sid, name, aa.sex, icon, create_date, year, aa.s1, s2,
            aasd.id aasdid, aasd.title aasdtitle, aasd.s1 aasds1,
            aas.id aasid, aid, uid, bid, hid, aas.s1 aass1,
            usu.user_id u_user_id,  usu.nick_name u_nick_name,  usu.sex u_sex, usu.avatar u_avatar,usu.remark u_remark,
            bsu.user_id b_user_id,  bsu.nick_name b_nick_name,  bsu.sex b_sex, bsu.avatar b_avatar,bsu.remark b_remark,
            hsu.user_id h_user_id,  hsu.nick_name h_nick_name,  hsu.sex h_sex, hsu.avatar h_avatar,hsu.remark h_remark
        from app_animal aa
            left join app_animal_state_data aasd on aasd.id = sid
            left join app_animal_state aas on aa.id = aas.aid
            left join sys_user usu on aas.uid = usu.user_id
            left join sys_user bsu on aas.bid = bsu.user_id
            left join sys_user hsu on aas.hid = hsu.user_id
    </sql>

    <select id="selectAppAnimalList" parameterType="AppAnimal" resultMap="AppAnimalResult">
        <include refid="selectAppAnimalVo"/>
        <where>  
            <if test="sid != null "> and sid = #{sid}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="year != null "> and year = #{year}</if>
            <if test="s1 != null  and s1 != ''"> and aa.s1 = #{s1}</if>
            <if test="s2 != null  and s2 != ''"> and s2 = #{s2}</if>
        </where>
    </select>
    
    <select id="selectAppAnimalById" parameterType="Long" resultMap="AppAnimalResult2">
        <include refid="selectAppAnimalVoBy"/>
        where aa.id = #{id}
    </select>
        
    <insert id="insertAppAnimal" parameterType="AppAnimal" useGeneratedKeys="true" keyProperty="id">
        insert into app_animal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">sid,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="sex != null">sex,</if>
            <if test="icon != null">icon,</if>
            <if test="createDate != null">create_date,</if>
            <if test="year != null">year,</if>
            <if test="s1 != null">s1,</if>
            <if test="s2 != null">s2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">#{sid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="icon != null">#{icon},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="year != null">#{year},</if>
            <if test="s1 != null">#{s1},</if>
            <if test="s2 != null">#{s2},</if>
         </trim>
    </insert>

    <update id="updateAppAnimal" parameterType="AppAnimal">
        update app_animal
        <trim prefix="SET" suffixOverrides=",">
            <if test="sid != null">sid = #{sid},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="year != null">year = #{year},</if>
            <if test="s1 != null">s1 = #{s1},</if>
            <if test="s2 != null">s2 = #{s2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppAnimalById" parameterType="Long">
        delete from app_animal where id = #{id}
    </delete>

    <delete id="deleteAppAnimalByIds" parameterType="String">
        delete from app_animal where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>