<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppAnimalStateDataMapper">
    
    <resultMap type="AppAnimalStateData" id="AppAnimalStateDataResult">
        <result property="id"    column="aasdid"    />
        <result property="title"    column="aasdtitle"    />
        <result property="s1"    column="aasds1"    />
    </resultMap>

    <sql id="selectAppAnimalStateDataVo">
        select id aasdid, title aasdtitle, s1 aasds1 from app_animal_state_data
    </sql>

    <select id="selectAppAnimalStateDataList" parameterType="AppAnimalStateData" resultMap="AppAnimalStateDataResult">
        <include refid="selectAppAnimalStateDataVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="s1 != null  and s1 != ''"> and s1 = #{s1}</if>
        </where>
    </select>
    
    <select id="selectAppAnimalStateDataById" parameterType="Long" resultMap="AppAnimalStateDataResult">
        <include refid="selectAppAnimalStateDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppAnimalStateData" parameterType="AppAnimalStateData">
        insert into app_animal_state_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="s1 != null">s1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="s1 != null">#{s1},</if>
         </trim>
    </insert>

    <update id="updateAppAnimalStateData" parameterType="AppAnimalStateData">
        update app_animal_state_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="s1 != null">s1 = #{s1},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppAnimalStateDataById" parameterType="Long">
        delete from app_animal_state_data where id = #{id}
    </delete>

    <delete id="deleteAppAnimalStateDataByIds" parameterType="String">
        delete from app_animal_state_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>