<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppCollectionMapper">
    
    <resultMap type="AppCollection" id="AppCollectionResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="pid"    column="pid"    />
        <result property="createDate"    column="create_date"    />
        <association property="appPost" columnPrefix="ap_" resultMap="com.ruoyi.app.mapper.AppPostMapper.AppPostResult"/>
    </resultMap>

    <sql id="selectAppCollectionVo">
        select ac.id, ac.uid, ac.pid, ac.create_date,
               ap.id ap_id, ap.title ap_title
        from app_collection ac
                 left join app_post ap on ap.id = ac.pid

    </sql>

    <select id="selectAppCollectionList" parameterType="AppCollection" resultMap="AppCollectionResult">
        <include refid="selectAppCollectionVo"/>
        <where>  
            <if test="uid != null "> and ac.uid = #{uid}</if>
            <if test="pid != null "> and ac.pid = #{pid}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectAppCollectionById" parameterType="Long" resultMap="AppCollectionResult">
        <include refid="selectAppCollectionVo"/>
        where ac.id = #{id}
    </select>
        
    <insert id="insertAppCollection" parameterType="AppCollection" useGeneratedKeys="true" keyProperty="id">
        insert into app_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="pid != null">pid,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="pid != null">#{pid},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateAppCollection" parameterType="AppCollection">
        update app_collection
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppCollectionById" parameterType="Long">
        delete from app_collection where id = #{id}
    </delete>

    <delete id="deleteAppCollectionByIds" parameterType="String">
        delete from app_collection where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>