<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppConcernMapper">
    
    <resultMap type="AppConcern" id="AppConcernResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="toUid"    column="to_uid"    />
        <result property="toAid"    column="to_aid"    />
        <result property="toTid"    column="to_tid"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectAppConcernVo">
        select id, uid, to_uid, to_aid, to_tid, create_date from app_concern
    </sql>

    <select id="selectAppConcernList" parameterType="AppConcern" resultMap="AppConcernResult">
        <include refid="selectAppConcernVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="toUid != null "> and to_uid = #{toUid}</if>
            <if test="toAid != null "> and to_aid = #{toAid}</if>
            <if test="toTid != null "> and to_tid = #{toTid}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectAppConcernById" parameterType="Long" resultMap="AppConcernResult">
        <include refid="selectAppConcernVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppConcern" parameterType="AppConcern" useGeneratedKeys="true" keyProperty="id">
        insert into app_concern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="toUid != null">to_uid,</if>
            <if test="toAid != null">to_aid,</if>
            <if test="toTid != null">to_tid,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="toUid != null">#{toUid},</if>
            <if test="toAid != null">#{toAid},</if>
            <if test="toTid != null">#{toTid},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateAppConcern" parameterType="AppConcern">
        update app_concern
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="toUid != null">to_uid = #{toUid},</if>
            <if test="toAid != null">to_aid = #{toAid},</if>
            <if test="toTid != null">to_tid = #{toTid},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppConcernById" parameterType="Long">
        delete from app_concern where id = #{id}
    </delete>

    <delete id="deleteAppConcernByIds" parameterType="String">
        delete from app_concern where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>