<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppCommentsMapper">
    
    <resultMap type="AppComments" id="AppCommentsResult">
        <result property="id"    column="id"    />
        <result property="toId"    column="to_id"    />
        <result property="pid"    column="pid"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="uid"    column="uid"    />
        <result property="aid"    column="aid"    />
        <result property="likeNumber"    column="like_number"    />
        <result property="createDate"    column="create_date"    />
        <association property="appAnimal" resultMap="com.ruoyi.app.mapper.AppAnimalMapper.AppAnimalResult" columnPrefix="aa_"/>
        <association property="user" resultMap="com.ruoyi.app.mapper.AppAnimalStateMapper.SysUserResult" columnPrefix="su_"/>
    </resultMap>



    <sql id="selectAppCommentsVo">
        select
            ac.id, ac.to_id, ac.pid, ac.content, ac.image, ac.uid, ac.aid, ac.like_number, ac.create_date,
            aa.id aa_id, aa.sid aa_sid, aa.name aa_name, aa.sex aa_sex, aa.icon aa_icon, aa.create_date aa_create_date, aa.year aa_year, aa.s1 aa_s1, aa.s2 aa_s2,
            su.user_id su_user_id,  su.nick_name su_nick_name,  su.sex su_sex, su.avatar su_avatar,su.remark su_remark
        from app_comments ac
                 left join app_animal aa on ac.aid = aa.id
                 left join sys_user su on ac.uid = su.user_id
    </sql>

    <select id="selectAppCommentsList" parameterType="AppComments" resultMap="AppCommentsResult">
        <include refid="selectAppCommentsVo"/>
        <where>  
            <if test="toId != null "> and to_id = #{toId}</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="aid != null "> and aid = #{aid}</if>
            <if test="likeNumber != null "> and like_number = #{likeNumber}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectAppCommentsById" parameterType="Long" resultMap="AppCommentsResult">
        <include refid="selectAppCommentsVo"/>
        where ac.id = #{id}
    </select>
        
    <insert id="insertAppComments" parameterType="AppComments" useGeneratedKeys="true" keyProperty="id">
        insert into app_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="toId != null">to_id,</if>
            <if test="pid != null">pid,</if>
            <if test="content != null">content,</if>
            <if test="image != null">image,</if>
            <if test="uid != null">uid,</if>
            <if test="aid != null">aid,</if>
            <if test="likeNumber != null">like_number,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="toId != null">#{toId},</if>
            <if test="pid != null">#{pid},</if>
            <if test="content != null">#{content},</if>
            <if test="image != null">#{image},</if>
            <if test="uid != null">#{uid},</if>
            <if test="aid != null">#{aid},</if>
            <if test="likeNumber != null">#{likeNumber},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateAppComments" parameterType="AppComments">
        update app_comments
        <trim prefix="SET" suffixOverrides=",">
            <if test="toId != null">to_id = #{toId},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="content != null">content = #{content},</if>
            <if test="image != null">image = #{image},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="aid != null">aid = #{aid},</if>
            <if test="likeNumber != null">like_number = #{likeNumber},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppCommentsById" parameterType="Long">
        delete from app_comments where id = #{id}
    </delete>

    <delete id="deleteAppCommentsByIds" parameterType="String">
        delete from app_comments where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>