<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppLikeMapper">
    
    <resultMap type="AppLike" id="AppLikeResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="pid"    column="pid"    />
        <result property="createDate"    column="create_date"    />
        <association property="appPost" columnPrefix="ap_" resultMap="com.ruoyi.app.mapper.AppPostMapper.AppPostResult"/>
    </resultMap>

    <sql id="selectAppLikeVo">
        select al.id, al.uid, al.pid, al.create_date,
               ap.id ap_id, ap.title ap_title
        from app_like al
                                                  left join app_post ap on ap.id = al.pid
    </sql>

    <select id="selectAppLikeList" parameterType="AppLike" resultMap="AppLikeResult">
        <include refid="selectAppLikeVo"/>
        <where>  
            <if test="uid != null "> and al.uid = #{uid}</if>
            <if test="pid != null "> and al.pid = #{pid}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectAppLikeById" parameterType="Long" resultMap="AppLikeResult">
        <include refid="selectAppLikeVo"/>
        where al.id = #{id}
    </select>
        
    <insert id="insertAppLike" parameterType="AppLike" useGeneratedKeys="true" keyProperty="id">
        insert into app_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="pid != null">pid,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="pid != null">#{pid},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateAppLike" parameterType="AppLike">
        update app_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppLikeById" parameterType="Long">
        delete from app_like where id = #{id}
    </delete>

    <delete id="deleteAppLikeByIds" parameterType="String">
        delete from app_like where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>