<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppPostMapper">
    
    <resultMap type="AppPost" id="AppPostResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="video"    column="video"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="uid"    column="uid"    />
        <result property="tid"    column="tid"    />
        <result property="aid"    column="aid"    />
        <result property="location"    column="location"    />
        <result property="city"    column="city"    />
        <result property="urgent"    column="urgent"    />
        <result property="typeId"    column="type_id"    />
        <result property="likeNumber"    column="like_number"    />
        <result property="collectionNumber"    column="collection_number"    />
        <result property="commentsNumber"    column="comments_number"    />
        <result property="url"    column="url"    />
        <result property="s1"    column="s1"    />
        <association property="user" resultMap="com.ruoyi.app.mapper.AppAnimalStateMapper.SysUserResult" columnPrefix="u_"/>
        <association property="appAnimal" resultMap="com.ruoyi.app.mapper.AppAnimalMapper.AppAnimalResult" columnPrefix="aa_"/>
        <association property="appTopic" resultMap="com.ruoyi.app.mapper.AppTopicMapper.AppTopicResult" columnPrefix="at_"/>
        <association property="isLike" resultMap="com.ruoyi.app.mapper.AppLikeMapper.AppLikeResult" columnPrefix="al_"/>
        <association property="isCollection" resultMap="com.ruoyi.app.mapper.AppCollectionMapper.AppCollectionResult" columnPrefix="ac_"/>
        <association property="isConcern" resultMap="com.ruoyi.app.mapper.AppConcernMapper.AppConcernResult" columnPrefix="aco_"/>
    </resultMap>

    <sql id="selectAppPostVo">
        select
        ap.id, ap.title, ap.content, ap.image, ap.video, ap.create_date, ap.update_date, ap.uid, ap.tid, ap.aid, ap.location, ap.city, ap.urgent, ap.type_id, ap.like_number, ap.collection_number, ap.comments_number, ap.url, ap.s1,
        aa.id aa_id, aa.sid aa_sd, aa.name aa_name, aa.sex aa_sex, aa.icon aa_icon, aa.create_date aa_create_date, aa.year aa_year, aa.s1 aa_s1, aa.s2 aa_s2,
        su.user_id u_user_id,  su.nick_name u_nick_name,  su.sex u_sex, su.avatar u_avatar,su.remark u_remark,
        at.id at_id, at.title at_title
        <if test="nowUserId!=null">
            ,
            ac.id ac_id,ac.uid ac_uid,ac.pid ac_pid,ac.create_date ac_create_date,
            al.id al_id,al.uid al_uid,al.pid al_pid,al.create_date al_create_date,
            aco.id aco_id,aco.uid aco_uid,aco.to_uid aco_to_uid,aco.to_aid aco_to_aid,aco.to_tid aco_to_tid,aco.create_date aco_create_date
        </if>
        from app_post ap
        left join app_animal aa on aa.id = aid
        left join sys_user su on su.user_id = uid
        left join app_topic at on at.id = tid
        <if test="nowUserId!=null">
            left join app_collection ac on ac.pid = ap.id and ac.uid = #{nowUserId}
            left join app_like al on al.pid = ap.id and al.uid = #{nowUserId}
            left join app_concern aco on aco.uid = #{nowUserId} and aco.to_uid = ap.uid
        </if>
    </sql>


    <select id="selectAppPostList" parameterType="AppPost" resultMap="AppPostResult">
        <include refid="selectAppPostVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="video != null  and video != ''"> and video like concat('%', #{video}, '%')</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="tid != null "> and tid = #{tid}</if>
            <if test="aid != null "> and aid = #{aid}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="urgent != null "> and urgent = #{urgent}</if>
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="likeNumber != null "> and like_number = #{likeNumber}</if>
            <if test="collectionNumber != null "> and collection_number = #{collectionNumber}</if>
            <if test="commentsNumber != null "> and comments_number = #{commentsNumber}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="s1 != null  and s1 != ''"> and s1 = #{s1}</if>
        </where>
    </select>
    
    <select id="selectAppPostById" parameterType="Long" resultMap="AppPostResult">
        <include refid="selectAppPostVo"/>
        where ap.id = #{id}
    </select>
        
    <insert id="insertAppPost" parameterType="AppPost" useGeneratedKeys="true" keyProperty="id">
        insert into app_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="image != null">image,</if>
            <if test="video != null">video,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="uid != null">uid,</if>
            <if test="tid != null">tid,</if>
            <if test="aid != null">aid,</if>
            <if test="location != null">location,</if>
            <if test="city != null">city,</if>
            <if test="urgent != null">urgent,</if>
            <if test="typeId != null">type_id,</if>
            <if test="likeNumber != null">like_number,</if>
            <if test="collectionNumber != null">collection_number,</if>
            <if test="commentsNumber != null">comments_number,</if>
            <if test="url != null">url,</if>
            <if test="s1 != null">s1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="image != null">#{image},</if>
            <if test="video != null">#{video},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="uid != null">#{uid},</if>
            <if test="tid != null">#{tid},</if>
            <if test="aid != null">#{aid},</if>
            <if test="location != null">#{location},</if>
            <if test="city != null">#{city},</if>
            <if test="urgent != null">#{urgent},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="likeNumber != null">#{likeNumber},</if>
            <if test="collectionNumber != null">#{collectionNumber},</if>
            <if test="commentsNumber != null">#{commentsNumber},</if>
            <if test="url != null">#{url},</if>
            <if test="s1 != null">#{s1},</if>
         </trim>
    </insert>

    <update id="updateAppPost" parameterType="AppPost">
        update app_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="image != null">image = #{image},</if>
            <if test="video != null">video = #{video},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="aid != null">aid = #{aid},</if>
            <if test="location != null">location = #{location},</if>
            <if test="city != null">city = #{city},</if>
            <if test="urgent != null">urgent = #{urgent},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="likeNumber != null">like_number = #{likeNumber},</if>
            <if test="collectionNumber != null">collection_number = #{collectionNumber},</if>
            <if test="commentsNumber != null">comments_number = #{commentsNumber},</if>
            <if test="url != null">url = #{url},</if>
            <if test="s1 != null">s1 = #{s1},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppPostById" parameterType="Long">
        delete from app_post where id = #{id}
    </delete>

    <delete id="deleteAppPostByIds" parameterType="String">
        delete from app_post where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>